/*
    关于"超链接伪类":
    a:hover 鼠标"悬停时"会设置的样式
    a:active 鼠标"按住未松"时的样式
    a:visited 已经"被访问过"的标签样式

    关于"阴影"
*/

a{ /*设置默认<a>标签的通用样式*/
    text-decoration: none;
    line-height: 30px;
}
a:hover{ /*鼠标"悬浮"在标签上时，出现"背景框"*/
    background: bisque;
    border-radius: 4px;
}
#author:active{
    color: rgb(247, 58, 16);
    background: #0cb3f0;
    border-radius: 0px;
}
#author:visited{ /*被访问过的"红温cirno"*/
    color: red;
}
em{

}