<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>喵喵购物车</title>
    <style>
        .red{
            color: red;
        }
    </style>
</head>
<body>
    <script src="../vue.js"></script>

    <div id="app"> <!--设定"作用域"-->
         <div class="table">
            <table border="1px" style="width: 450px;">
        <thead>  <!--展示表格标题-->
                <tr style="text-align: center;">
                    <td>是否选中</td>
                    <td>水果名称</td>
                    <td>购买个数</td>
                    <td>单价</td>
                    <td>小计</td>
                    <td>操作</td>
                </tr>
            </thead>
            
            <tbody v-if="fruitlist.length>0"> <!--展示水果信息-->
               <tr style="text-align: center;" v-for="(item,index) in fruitlist" :key="item.id">
                <td><input type="checkbox" v-model="item.isChecked"></td>
                <td>{{item.name}}</td>
                <td><button @click="decrease(index)">-</button>&nbsp&nbsp{{item.num}}&nbsp&nbsp<button @click="increase(index)">+</button></td>
                <td>{{item.price}}</td>
                <td>{{item.tot}}</td>
                <td><button @click="del(item.id)">删除该项</button></td>
               </tr>
            </tbody>

            <tbody v-else> <!--显示"暂无数据"(没有任何信息)-->
                <tr>
                    <td colspan="6" style="text-align: center;">目前没有水果商品了哦...</td>
                </tr>
            </tbody>

            <tfoot> <!--底部计算页-->
                <tr>
                    
                </tr>
            </tfoot>
        </table>

         </div>

        <!--
        <ul>
            <li v-for="(item,index) in list" :key="item.id">编号:{{item.id}} 科目:{{item.subject}} 成绩:{{item.score}}
                <button @click="delSub(item.id)">删除该科</button>
            </li>
        </ul>
        <p>总成绩:{{SUM}} &nbsp&nbsp&nbsp&nbsp 平均分{{AVG}}</p>
        <p>新增科目:<input type="text" v-model="subjectAdd">&nbsp&nbsp&nbsp 分数:<input type="text" v-model="scoreAdd"> <button @click="submit">提交</button></p> 
        -->
       
    </div>

    <script>
        // Vue脚本相关
        const app=new Vue({
            el:"#app",
            data:{
                fruitlist:[
                    {id:1,name:'苹果',num:1,price:2,isChecked:false,tot:0},
                    {id:2,name:'香蕉',num:1,price:3,isChecked:true,tot:0},
                    {id:3,name:'梨子',num:1,price:2,isChecked:false,tot:0},
                    {id:4,name:'火龙果',num:1,price:4,isChecked:false,tot:0},
                    {id:5,name:'西瓜',num:1,price:5,isChecked:false,tot:0},
                    {id:6,name:'葡萄',num:1,price:6,isChecked:true,tot:0},
                ],
                pay:0,
            },

            methods:{
                increase(index){
                    this.fruitlist[index].num++;
                },
                decrease(index){
                    if(this.fruitlist[index].num>0){
                        this.fruitlist[index].num--;
                    }
                    else{
                        alert("想让我给你倒贴钱?没门！！")
                    }
                },
                del(fid){
                    this.fruitlist=this.fruitlist.filter(fruit => fruit.id!=fid); //"fruit"单个对象
                },
                submit(){

                }
            },

            computed:{
                //写出了 求和 和 平均值 的computed方法

            }
        })
    </script>
</body>
</html>